html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    border-width: 0;
}

button {
    background-color: transparent;
    background-image: none;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 100%;

    background-color: #f7fafc;
}

.container {
    width: 100%;
}

.flex {
    display: flex;
}

.ticker {
    max-width: 20rem;
}

.ticker-label {
    display: block;

    color: #4a5568;
    font-size: 0.875rem;
    font-weight: 500;
}

.ticker-input_wrapper {
    position: relative;
    margin-top: 0.25rem;

    background-color: #fff;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.ticker-input {
    width: 100%;
    position: relative;
    margin-top: 0.25rem;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0.25rem;

    border-radius: 0.375rem;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

.tag {
    display: inline-flex;
    margin: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    align-items: center;
    background-color: #e2e8f0;
    border-radius: 0.375rem;

    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 500;
    color: #2d3748;
}

.ticker-error-message {
    font-size: 0.875rem;
    color: #e53e3e;
}

.ticker-add-button {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 28px;
    padding: 6px 12px;

    border: none;
    border-radius: 20px;
    background-color: #718096;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.ticker-add-button svg {
    margin-right: 8px;
}

.tickers-wrapper {
    display: grid;
    grid-gap: 1.25rem;
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.tickers-item {
    overflow: hidden;

    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    cursor: pointer;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #553c9a;
    background-color: #fff;
}

.tickers-item-info {
    padding: 1.5rem;

    text-align: center;
}

.tickers-item-info-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #a0aec0;
    font-size: 0.875rem;
    font-weight: 500;
}

.tickers-item-info-price {
    margin-top: 0.25rem;
    margin: 0;

    font-size: 1.875rem;
    font-weight: 600;
    color: #1a202c;
}

.tickers-item-border {
    width: 100%;

    border-top-width: 1px;
    border-color: #edf2f7;
}

.tickers-item-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: #f7fafc;
    font-weight: 700;
    color: #a0aec0;
    cursor: pointer;
    transition-property: all;
}

.tickers-item-button svg {
    display: block;
    vertical-align: middle;
    width: 1.25rem;
    height: 1.25rem;
}

.tickers-hr {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;

    border-top-width: 1px;
    border-color: #718096;
}

.ticker-graphic {
    position: relative;
}

.ticker-graphic-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;

    line-height: 1.5rem;
    font-size: 1.125rem;
    font-weight: 500;
}

.ticker-graphic-info {
    display: flex;
    align-items: flex-end;
    height: 16rem;
    padding: 1px;

    border: 1px solid #718096;
    border-right-width: 0;
    border-top-width: 0;
}

.ticker-graphic-info-item {
    width: 2.5rem;
    height: 6rem;
    margin-right: 1px;

    border-width: 1px;
    background-color: #553c9a;
}

.ticker-graphic-button {
    position: absolute;
    top: 0;
    right: 0;

    cursor: pointer;
}

.ticker-item-border {
    border: 3px solid #553c9a;
}

.filterAndPaginationWrapper {
    display: flex;
    justify-content: space-between;
}

.filter input {
    min-width: 250px;
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #718096;
    border-radius: 5px;
}

.paginationWrapper button {
    cursor: pointer;
}

.paginationWrapper img {
    width: 9px;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }

    .tickers-wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .tickers-item-info {
        padding: 1.5rem;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    .filterAndPaginationWrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: space-between;
        align-items: stretch;
    }

    .filter {
        display: flex;
        justify-content: space-evenly;
        margin-left: 0;
        margin-bottom: 12px;
    }

    .filter input {
        min-width: 250px;
    }

    .paginationWrapper {
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
